<div class="about-container">
	<h1>日記投稿管理アプリ<strong>"或る日”</strong></h1>
	<div class="about-container__content-title">
		<h2>このアプリについて</h2>
	</div>
	<div class="about-container__content-text">
		<h3>日記を書くことのメリット</h3>
		<p>
			日記は、脳の活性化、文章力の向上、成長の促進、習慣形成、自律神経の安定、<br/>ストレス解消に効果があります。 その中でも精神的・感情的なメリットは<br/>
			大きなストレスの掛かる現代社会においてとても効果的であると考えます。
		</p>
		<h3>コンセプト</h3>
		<p>
			このアプリでは他のユーザーと繋がることはできません。<br/>			現代では切っても切り離せないSNSですが、このアプリ内では承認欲求を捨てて<br/>
			他人の評価を気にせず好きなことを書いて自分自身を見つめ直す時間を作りましょう。<br/>
		</p>
		<h3>使い方</h3>
		<p></p>
	</div>
	<div class="about-container__content-title">
		<p>texttexttexttexttexttext<br/>texttexttexttexttexttext<br/>texttexttexttexttexttexttext<br/>texttexttexttexttexttext<br/>texttexttexttexttexttexttext</p>
	</div>
	<div class="about-container__content-text">
		<h2>日記を管理</h2>
	</div>
	<div class="about-container__content-title">
		<h2>１日を共有</h2>
	</div>
	<div class="about-container__content-text">
		<p>texttexttexttexttexttext<br/>texttexttexttexttexttext<br/>texttexttexttexttexttexttext<br/>texttexttexttexttexttext<br/>texttexttexttexttexttexttext</p>
	</div>
	<div class="about-container__content-title">
		<p>texttexttexttexttexttext<br/>texttexttexttexttexttext<br/>texttexttexttexttexttexttext<br/>texttexttexttexttexttext<br/>texttexttexttexttexttexttext</p>
	</div>
	<div class="about-container__content-text">
		<h2>他の１日を見つけよう</h2>
	</div>
</div>